body{
    background-size: cover;
    background-image: linear-gradient(to right, red , yellow);

}
.custom{
    font-size: 30px;
    font-style: italic;
    background-image: linear-gradient(to right, lightblue, aqua);
    border: rgb(117, 117, 194);
    border-style: dashed;
    border-width: 2px;
    text-align: center;
}

#somerandomid{
    font-size: 20px;
    text-align: center;
    color: rgb(255, 51, 0);
    margin-bottom: auto;
}

.table{
    text-align: center;
}