body{
    background-size:cover;
    background-image: linear-gradient(to right, red , yellow);

}
.custom{
    font-size: 30px;
    background-image: linear-gradient(to right, lightblue, aqua);
    border: rgb(117, 117, 194);
    border-style: dashed;
    border-width: 2px;
    text-align: center;
}

#id1{
    font-size: 40px;
    text-align: left;
    background-color: rgb(255, 147, 147);
    margin-bottom: auto;
}

.table{
    text-align: center;
}